<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% include "components/favicon.twig" with {"emoji": "✨"} %}
        <link rel="stylesheet"
              href="{{ theme.link }}/theme/style.css"
              type="text/css"
              media="screen"/>
        <script src="{{ theme.link }}/static/js/site.js"></script>
        {{ function("wp_head") }}
    </head>
    <body class="{{ body_class }}" data-template="base.twig">
        {% block content %}{% endblock %}
        {{ function("wp_footer") }}
    </body>
</html>
